p {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body{
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}

.button { 
  font-family: 'Nunito', sans-serif;
  background-color: #424242; 
  text-align: center;
  width: 10%; 
  margin: 0px auto; 
} 
